<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
			<title>Little Boxes - float und margin - 3-spaltig flexibel</title>
			<link href="{{ url_for('static', filename='css/bildschirm.css') }}" rel="stylesheet" type="text/css" media="screen" />
			<script type="text/javascript" >
				function readTextFile(file) {
					var rawFile = new XMLHttpRequest();
					var allText = "";
					const spinner = document.getElementById('spinner');
					spinner.removeAttribute("hidden");
					rawFile.open("GET", file, false);
					rawFile.onreadystatechange = function () {
						if(rawFile.readyState === 4) {
							if(rawFile.status === 200 || rawFile.status == 0) {
								allText = rawFile.responseText;
								spinner.setAttribute("hidden","");
            						}
						}
    					}
    					rawFile.send(null);
					return allText;
				}
            			function load() {
					
                			var allText = readTextFile('{{ url_for('static', filename='json/drinks.json') }}');
		      			var mydata = JSON.parse(allText);
                       			var div = document.getElementById('cocktaillist');

                			for(var i = 0;i < mydata.length; i++)
                			{
                    				div.innerHTML = div.innerHTML + "<p class='inner' id="+i+">"+ mydata[i].name +"</p>" + "<br>";
                			}
				}
			</script>
                        <style>
				#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
	</head>
	<body id="startseite" onLoad="load()">
		<div id="wrapper">
			<div id="kopfbereich">
				<div class="skiplink"><a href="#textbereich">Zum Inhalt</a></div>
				<h1>Platz für Ihr Logo</h1>
				<p>Platz für Ihren Slogan</p>
			</div> <!-- Ende kopfbereich -->

			<div id="navibereich">
				<div id="navibereich_innen">
					<ul>
						<li id="navi01"><a href="/home">Startseite</a></li>
						<li id="navi02"><a href="galerie.html">Galerie</a></li>
						<li id="navi03"><a href="kontakt.html">Kontakt</a></li>
					</ul>
				</div> <!-- Ende navibereich_innen -->
			</div> <!-- Ende navibereich -->

			<div id="sidebar">
				<div id="sidebar_innen">
					<h2>Cocktails</h2>
					<div id="cocktaillist">
					</div>
				</div> <!-- Ende sidebar_innen -->
			</div> <!-- Ende sidebar -->

			<div id="textbereich">
				<div id="textbereich_innen">
				<h2>Startseite</h2>
				<p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.</p>
				<p> Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem einem gebratene Satzteile in den Mund fliegen.</p>
				<p> Nicht einmal von der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein geradezu unorthographisches Leben. Eines Tages aber beschloß eine kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite Grammatik. Der große Oxmox riet ihr davon ab... </p>
				<form id="form" method="POST">
    {{ form.csrf_token }}
    <div class="text-danger my-2" id="csrf_token-error">
    </div>
    
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class='form-control') }}
        <div id="username-error" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(class='form-control') }}
        <div id="age-error" class="invalid-feedback"></div>
    </div>
    <button class="btn btn-primary">Signup</button>
</form>
<div id="success-message" style="display: none;"></div>
<div hidden id="spinner"></div>
<script>
const form = document.getElementById('form');

const successMessage = document.getElementById('success-message');
const fields = {
    csrf_token: {
        input: document.getElementById('csrf_token'),
        error: document.getElementById('csrf_token-error')
    },
    username: {
        input: document.getElementById('username'),
        error: document.getElementById('username-error')
    },
    age: {
        input: document.getElementById('age'),
        error: document.getElementById('age-error')
    }
}

form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const response = await fetch('/withajax', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            csrf_token: fields.csrf_token.input.value,
            username: fields.username.input.value,
            age: fields.age.input.value
        })
    });
    if (response.ok) {
        successMessage.innerHTML = await response.text();
        form.style.display = 'none';
        successMessage.style.display = 'block';
    } else {
        const errors = await response.json();
        Object.keys(errors).forEach((key) => {
           fields[key].input.classList.add('is-invalid');
           fields[key].error.innerHTML = errors[key][0];
        });
    }
});
</script>
			</div> <!-- Ende textbereich_innen -->
		</div> <!-- Ende textbereich -->
		<div id="fussbereich">
			<address>
				Little Boxes &middot; Kästchenweg 12 &middot; 01234 Boxberg
				<br />
				Tel: 01234 567890 &middot; Fax: 01234 567891
			</address>
		</div> <!-- Ende fussbereich -->
		</div> <!-- Ende wrapper -->
	</body>
</html>
